{% include 'main.html' %}
{% block content %}

{% load static %}

<!-- <link rel="stylesheet" href="{% static 'styles/doctor_orders.css' %}">
<script type="text/javascript" src="{% static 'js/doctor_orders.js' %}"></script> -->

<link rel="stylesheet" href="{% static 'styles/patient/adult_form.css' %}">
<script type="text/javascript" src="{% static 'js/register.js' %}"></script> 

<body>
    <div class="container">
        <div class="title">DOCTOR'S ORDER FORM</div>
        <form method="POST">
            <div class="user-details">
                {% csrf_token %}
                {{ doctor_order_form.as_p }} 
            </div>
            <div class="button">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
{% endblock content %}
