{% include 'sections.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/staff/dashboard.css' %}">

<body>

<div class="dashboard">
    <div class="dashboard-item total-users">
        <i class="fas fa-users"></i>
        <h2>Total Users</h2>
        <p class="value">{{ total_users }}</p>
    </div>
    <div class="dashboard-item total-patients">
        <i class="fas fa-user"></i>
        <h2>Total Patients</h2>
        <p class="value">{{ total_patients }}</p>
    </div>
    <div class="dashboard-item total-staffs">
        <i class="fas fa-user-tie"></i>
        <h2>Total Staffs</h2>
        <p class="value">{{ total_staffs }}</p>
    </div>
    <div class="dashboard-item inactive-users">
        <i class="fas fa-user-xmark"></i>
        <h2>Inactive Users</h2>
        <p class="value">{{ inactive_users_count }}</p>
    </div>
    <div class="dashboard-item pending-forms">
        <i class="fas fa-clipboard"></i>
        <h2>Pending Forms</h2>
        <p class="value">{{ pending_forms_count }}</p>
    </div>
    <div class="dashboard-item total-submitted-forms">
        <i class="fas fa-file-signature"></i>
        <h2>Submitted Forms</h2>
        <p class="value">{{ submitted_forms_count }}</p>
    </div>
    <div class="dashboard-item total-child-patients">
        <i class="fas fa-child"></i>
        <h2>Child Patients</h2>
        <p class="value">{{ child_patients }}</p>
    </div>
    <div class="dashboard-item total-adolescent-patients">
        <i class="fas fa-user"></i>
        <h2>Adolescent Patients</h2>
        <p class="value">{{ pediatric_patients }}</p>
    </div>
    <div class="dashboard-item total-adult-patients">
        <i class="fas fa-user-tie"></i>
        <h2>Adult Patients</h2>
        <p class="value">{{ adult_patients }}</p>
    </div>
</div>

</body>
</html>

{% endblock %}
