{% include 'main.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/staff/manage_users.css' %}">

<div class="manage-container">

<h2 class="manage-title">Password Change Requests</h2>

<table class="manage-table">
  <thead>

  <tr>
    <th>Username</th>
    <th>Middle Name</th>
    <th>Created At</th>
    <th>Action</th>
  </tr>

</thead>
<tbody>

  {% for request in password_change_requests %}
  <tr class="{% cycle 'even' 'odd' %}">


    <td>{{ request.user.username }}</td>
    <td>{{ request.user.middle_name }}</td>
    <td>{{ request.date_created }}</td>
    <td>

      <form method="post" action="{% url 'approve_password_change' request.id %}">
        {% csrf_token %}
        <button class="view-button" type="submit" name="action" value="approve" target="blank">Approve</button>
      </form>
      <form method="post" action="{% url 'reject_password_change' request.id %}">
        {% csrf_token %}
        <button class="view-button suspend-button" type="submit" name="action" value="reject" target="blank">Reject</button>
      </form>

    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endblock %}
