{% include 'main.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/staff/suspend_user.css' %}">

<body>
    <div class="confirmation-container">
        <h2>Are you sure you want to suspend this user?</h2>
        <form method="POST" action="{% url 'staff_suspend_user' user_id=user.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-suspend" >Suspend</button>
            <a href="#" class="btn btn-cancel" onclick="cancelSuspension()">Cancel</a>
        </form>
    </div>

    <script>
        function cancelSuspension() {
            alert("Suspension cancelled");
            window.close(); 
        }
    </script>
</body>


{% include 'base/patient-section/patient_profile.html' %}
