{% include 'sections.html' %}

{% block content %}

{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'styles/staff/view_records.css' %}">

<body>

    <div class="records-container">
        <h2 class="records-title">Patient Records</h2>
        <table class="records-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Patient Name</th>
                    <th>Birthdate</th>
                    <th>Record Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for form_data in verified_forms_data %}
                <tr>
                    <td>{{ form_data.id }}</td>
                    <td>{{ form_data.patient_name }}</td>
                    <td>{{ form_data.birthdate }}</td>
                    <td>{{ form_data.record_type }}</td>
                    <td>
                        <a href="{% url 'staff_view_form' form_id=form_data.form_id %}" class="view-button" target="_blank">View</a>
                    </td>
                </tr>
                {% endfor %}
                    </td>
                </tr>          
            </tbody>
        </table>
    </div>
    {% endblock %}