* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24344B;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 60%; 
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    color: #236FC8;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .user-details {
    display: flex;
    gap: 20px;
  }
  
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .column h2 {
    text-align: center;
    font-size: 16px;
    color: #0056b3;
  }
  
  .column input,
  .column select,
  .column textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
  }

  .column label {
    color: #555555;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  
  .button input {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .button input:hover {
    background-color: #0056b3;
  }
  