body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffff;
}

.dash-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 15px - 78px);
    background-color: #ffff;
    max-width: 100%; 
    margin: 0 auto;
    padding: 10px;
}

.dashboard {
    text-align: center;
    color: #236FC8;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 30px;
}

.cards-container {
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
}

.card {
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    height: 120px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 16px;
}

.card-row {
    display: flex;
    align-items: center;
}

.card-content {
    flex: 1;
}

.label {
    font-size: 15px;
    font-weight: bold;
    color: #24344B;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.number {
    margin-top: auto;
    font-size: 30px;
    font-weight: bold;
    color: #2980b9;
}

.card-icon {
    flex: 0;
}

.card-icon i {
    font-size: 32px;
    color: #5a5c69;
}

.tables-container {
    margin-left: 80px;
    display: flex;
    justify-content: center;
    padding: 6px;
}

.table {
    border-collapse: collapse;
    margin: 20px;
    width: 88%;
    background-color: white;
}

.table th, .table td {
    padding: 8px;
    border: 1.5px solid #ddd;
    text-align: left;
}

.table th {
    text-align: center;
    background-color: #f0f0f0;
    color: #2980b9;
    font-weight: bold;
}

.table td {
    text-align: center;
    color: #5a5c69;
    font-weight: lighter;
}

.table tr:hover {
    border-color: #236FC8;
    background-color: #f0f0f0;
}


@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .tables-container {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        padding: 5px;
    }
    
    .dashboard {
        font-size: 28px;
    }
    
    .label {
        font-size: 14px;
    } 
    
    .number {
        font-size: 24px;
    }
    
    .card-icon i {
        font-size: 28px;
    }
}


@media (max-width: 500px) {

    .cards-container, .table {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .card-content {
        align-items: center;
        text-align: center;
    }

    .dashboard {
        margin-left: 50px;
        font-size: 18px;
    }
    
    .card-icon i {
        font-size: 24px;
    }

    .table th, td {
        font-size: 13px;
    }
}

@media (max-width: 350px) {

    .card {
        height: auto;
    }

    .card-icon i {
        display: none;
    }

}