*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #24344B;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid white; 
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #fff;
    margin-right: 20px; 
}

.navbar-brand img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    display: inline-block;
    margin-right: 20px;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    text-decoration: none;
    color: #1c5a7f;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 5px;
}

.nav-link.staff {
    background-color: #fff;
    border-color: #1c5a7f;
    border-radius: 20px;
}

.nav-link.logout {
    background-color: #fff;
    border-color: #24344B;
    border-radius: 20px;
}

.nav-link.staff:hover {
	background-color: #4a87dc; 
	color: #fff; 
  }
  
  .nav-link.logout:hover {
	background-color: #4a87dc; 
	color: #fff; 
  }

.navbar-nav i {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar{
    position: fixed;
    left: 0;
    height: 100%;
    width: 78px;
    background: #fff;
    padding: 1px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
  .sidebar.open{
    width: 240px;
  }
  .sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .sidebar .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar .logo-details .logo_name{
    color: #24344B;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
    opacity: 1;
  }
  .sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details #btn{
    text-align: right;
  }
  .sidebar i{
    color: #24344B;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
  }
  .sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  .sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar.open li .tooltip{
    display: none;
  }
  .sidebar input{
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #311b1c;
  }
  .sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
  }
 
  
  .sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #fff;
  }
 
  .sidebar li a:hover
  {
    background: #E9EDF2;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }

  .sidebar li a:active
  {
    background: #E9EDF2;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  
  .sidebar li a .links_name{
    color: #24344B;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  .sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
    
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #11101D;
  }
  .sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
  
  .home-section{
    position: relative;
    background: #fff;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  .sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
  }
  .home-section .text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
  }

 
 
 
  @media only screen and (max-width: 768px) {

    .sidebar li .tooltip{
      display: none;
    }

    .navbar-brand img {
      width: 30px;
      height: 30px;
    }
  
    .sidebar .logo-details .logo_name {
      font-size: 18px;
    }
  
    .sidebar i {
      font-size: 18px;
    }
  
    .sidebar .nav-list {
      margin-top: 15px;
    }
  
    .sidebar li .links_name {
      font-size: 2px;
    }
  
    .home-section .text {
      font-size: 22px;
    }
  }

  @media only screen and (max-width: 690px) {
    .navbar {
      padding: 10px;
    }
    
    .nav-item {
      margin-left: 5px; 
    }
  
    .nav-link {
      padding: 6px 12px; 
    }
    
    .navbar-brand h1 {
      font-size: 16px;
    }
    
    .navbar-brand img {
      width: 30px;
      height: 30px;
    }
    
    .logo-text {
      display: none;
    }
    
    .sidebar {
      width: 60px;
      padding: 0;
    }

    .sidebar.open {
      width: 225px;
    }
    
    .sidebar .logo-details .logo_name {
      font-size: 16px;
      margin-left: 10px;
    }
    
    .sidebar i {
      font-size: 20px;
    }
    
    .sidebar .nav-list {
      margin-top: 10px;
    }
    
    .sidebar li {
      margin: 5px 0;
    }
    
    .sidebar .nav-list li .links_name {
      font-size: 16px;
    }
    
    .home-section .text {
      font-size: 20px;
    }

  }


  
  @media only screen and (max-width: 576px) {
    
    .navbar {
      padding: 10px;
    }
    
    .nav-item {
      margin-left: 5px; 
    }
  
    .nav-link {
      padding: 6px 12px; 
    }
    
    .navbar-brand h1 {
      display: none;
    }
    
    .navbar-brand img {
      width: 30px;
      height: 30px;
    }
    
    .logo-text {
      display: none;
    }
    
    .sidebar {
      width: 60px;
      padding: 0;
    }

    .sidebar li .tooltip{
      display: none;
    }
    
    .sidebar.open {
      width: 225px;
    }
    
    .sidebar .logo-details .logo_name {
      font-size: 16px;
      margin-left: 10px;
    }
    
    .sidebar i {
      font-size: 20px;
    }
    
    .sidebar .nav-list {
      margin-top: 10px;
    }
    
    .sidebar li {
      margin: 5px 0;
    }
    
    .sidebar .nav-list li .links_name {
      font-size: 14px;
    }

    .sidebar .nav-list li i {
      font-size: 16px;
    }
    
    .home-section .text {
      font-size: 20px;
    }
  }
