* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24344B;
    font-family: "Poppins", sans-serif;
}

.confirmation-container {
    background-color: #f9f9f9;
    width: 40%;
    margin: 20px auto;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.confirmation-container h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.confirmation-container a,
.confirmation-container button{
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    color: #ffff;
    text-decoration: none;
}

.confirmation-container .btn-suspend {
    background-color: #f44336;
}

.confirmation-container .btn-suspend:hover {
    background-color: #99231d;
}

.confirmation-container .btn-cancel {
    background-color: #2196F3;
}

.confirmation-container .btn-cancel:hover {
    background-color: #0f59a8;
}


