body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #ffff;
}

.form-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 15px - 78px);
    margin-left: 80px;
    background-color: #ffff;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    
}

.form-title {
    color: #236FC8;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 30px;
}

.forms-table {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 20px;
}

.forms-table th,
.forms-table td {
    border: none; 
    padding: 10px;
    text-align: center;
}

.forms-table thead {
    background-color: #F7F8FC;
    color: #333333;
}

.forms-table th:first-child,
.forms-table th:last-child {
    font-size: 17px;
}


.forms-table tr:hover {
    background-color: #c8d2e7;
}

.forms-table .even {
    background-color: #ffffff;
}

.forms-table .odd {
    background-color: #F7F8FC;;
}

.view-button {
    background-color: #236FC8;
    color: #FFFFFF;
    border: none;
    padding: 8px 20px; 
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px; 
}

.view-button:hover {
    background-color: #1A4F99;
}

.forms-table a {
    text-decoration: none;
}

@media (max-width: 1024px) {

    .form-container {
        margin-top: 2px;
        border: none;
    }

}

@media (max-width: 768px) {

    .form-container {
        margin-top: 2px;
        margin-left: 60px;
    }

    .form-title {
        font-size: 24px;
    }

    .forms-table th:first-child,
    .forms-table th:last-child {
        font-size: 14px;
    }

    .forms-table td {
        font-size: 14px;
        padding: 8px; 
    }

    .view-button {
        padding: 6px 12px; 
        font-size: 12px; 
    }
}

@media (max-width: 600px) {
    .form-title {
        font-size: 18px; 
    }

    .view-button {
        padding: 4px 8px; 
        font-size: 12px; 
    }

    .forms-table th:first-child,
    .forms-table th:last-child {
        font-size: 14px;
    }
    
    .forms-table td {
        font-size: 12px;
        padding: 8px; 
    }

}

