body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #ffff;
}


.form-filter {
    display: flex;
    align-items: center;
    margin-right: 85%;
}

.form-filter select {
    margin: auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-position: right px center;
    background-size: 40px;
    cursor: pointer;
}

.form-filter i.fa-filter {
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}


.records-container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    background-color: #ffff;  
}

.record-container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    background-color: #ffff;  
}

.records-title {
    color: #236FC8;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;
}

.records-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.records-table th,
.records-table td {
    border: none; 
    padding: 10px;
    text-align: center;
}

.records-table thead {
    background-color: #F7F8FC;
    color: #333333;
}

.records-table th:first-child,
.records-table th:last-child {
    font-size: 17px;
}


.records-table tr:hover {
    background-color: #c8d2e7;
}


.add-record {
    font-size: 14px;
    background-color: #2ecc71;
    color: #FFFFFF;
    padding: 12px 20px; 
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 85%;
    text-decoration: none;
}

.add-record:hover {
    background-color: #2aa259;
    
}

.view-button {
    background-color: #236FC8;
    color: #FFFFFF;
    border: none;
    padding: 8px 20px; 
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px; 
}

.view-button:hover {
    background-color: #1A4F99;
}


/* Media Queries */

@media only screen and (max-width: 768px) {

    .record-container {
        margin-top: 2px;
        margin-left: 60px;
    }
    
    .records-title {
        font-size: 18px;
        text-align: center;
    }

    .form-filter select {
        display: none;
    }
    
    .records-table th:nth-child(2),
    .records-table td:nth-child(2),
    .records-table th:nth-child(5),
    .records-table td:nth-child(5),
    .records-table th:nth-child(4),
    .records-table td:nth-child(4),
    .view-button {
    font-size: 12px;
}

    .records-table td {
        font-size: 12px;
    }

    .records-table th:nth-child(1),
    .records-table td:nth-child(1),
    .records-table th:nth-child(3),
    .records-table td:nth-child(3) {
        display: none;
    }

    .add-record {
        font-size: 10px;
        padding: 10px 10px; 
    }

}

@media only screen and (max-width: 560px) {
    .add-record span {
        display: none;
    }
}

@media only screen and (max-width: 405px) {

    .records-table th:nth-child(4),
    .records-table td:nth-child(4) {
        display: none;
    }
}

@media only screen and (max-width: 1332px) {

    .record-container {
            margin-left: 60px;
        }

    .form-filter {
        display: none;
    }

}

@media only screen and (max-width: 1009px) {
    .add-record {
        margin-left: 80%;
    }
}

@media only screen and (max-width: 781px) {
    .add-record {
        margin-left: 70%;
    }
    
}











