{% extends 'main.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'styles/patient/choose_form.css' %}">

<div class="form-container">
    <h2>Records Form</h2>

    <div class="description">
    <p>Child Patient: 0 to 11 months </p>
    <p>Pediatric Patient: 1 to 19 years old </p>
    <p>Adult Patient: 20 years old and above </p>
    </div>

        <p>Please choose your form: </p>
        <a href="{% url 'child_form' %}" class="form-link">Child</a>
        <a href="{% url 'adult_form' %}" class="form-link">Adult</a>
        <a href="{% url 'pediatric_form' %}" class="form-link">Pediatric</a>
    </form>
</div>

{% endblock %}
