{% include 'main.html' %}
{% block content %}
<div class="container">

    <div class="title">Edit Patient Form</div>

    {% if request.user.is_staff %}
    <a href="{% url 'staff_delete_form' form_id=form.form_id %}" class="btn btn-danger">Delete</a>
    {% else %}
    <a href="{% url 'patient_delete_form' form_id=form.form_id %}" class="btn btn-danger">Delete</a>
    {% endif %}


    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.record_type == 'Adult' %}
            {{ user_profile_form.as_p }}
            {{ economic_numbers_form.as_p }}
            {{ social_history_form.as_p }}
            {{ medical_history_form.as_p }}
        {% elif form.record_type == 'Child' %}
            {{ user_profile_form.address.label_tag }}
            {{ user_profile_form.address }}
            {{ user_profile_form.sex.label_tag }}
            {{ user_profile_form.sex }}
            {{ child_details_form.as_p }}
            <h2>Newborn Status</h2>
            {{ newborn_status_form.as_p }}
            <h2>Economic Numbers</h2>
            {{ economic_numbers_form.as_p }}
        {% elif form.record_type == 'Pediatric' %}
            {{ user_profile_form.address.label_tag }}
            {{ user_profile_form.address }}
            {{ user_profile_form.sex.label_tag }}
            {{ user_profile_form.sex }}
            {{ user_profile_form.age.label_tag }}
            {{ user_profile_form.age }}
            {{ pediatric_details_form.as_p }}
            {{ economic_numbers_form.as_p }}
            {{ immunization_history_form.as_p }}
            {{ social_history_form.as_p }}
            {{ medical_history_form.as_p }}
        {% endif %}
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock content %}
