<style media="print">
    .hide-on-pdf {
        display: none;
    }
</style>

<div class="hide-on-pdf">

{% include 'main.html' %}

{% block content %}
    <h1>{{ form.title }} Details</h1>

    {% if request.user.is_staff %}
    <div>
        {% if form.status == 'Unverified' %}
            <a href="{% url 'staff_accept_form' form_id=form.id %}" class="btn btn-accept">Accept</a>
            <a href="{% url 'staff_delete_form' form_id=form.id %}" class="btn btn-danger">Reject</a>
        {% else %}
            <a href="{% url 'staff_generate_pdf' form_id=form.id  %}" class="btn btn-primary">Generate PDF</a>
            <a href="{% url 'staff_update_form' form_id=form.id %}" class="btn btn-success">Update</a>
        {% endif %}
    </div>
{% endif %}

{% if not request.user.is_staff %}
        <a href="{% url 'patient_update_form' form_id=form.id %}" class="btn btn-success">Update</a>
     {% if form.status == 'Verified' %}
    <div>
        <a href="{% url 'generate_pdf' form_id=form.id %}" class="btn btn-primary">Generate PDF</a>
    </div>
    {% endif %}
{% endif %}

</div>

    <p><strong>Form Status:</strong> {{ form.status }}</p>

    <p><strong>First Name:</strong> {{ user_profile.user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user_profile.user.last_name }}</p>
    <p><strong>Birth Date:</strong> {{ user_profile.user.birth_date }}</p>

    {% if form.record_type == 'Adult' %}
        <h2>Adult Details</h2>
        <p><strong>Birth Date:</strong> {{ user_profile.user.birth_date }}</p>
        <p><strong>Age:</strong> {{ user_profile.age }}</p>
        <p><strong>Sex:</strong> {{ user_profile.sex }}</p>
        <p><strong>Civil Status:</strong> {{ user_profile.civil_status }}</p>
        <p><strong>Religion:</strong> {{ user_profile.religion }}</p>
        <p><strong>Address:</strong> {{ user_profile.address }}</p>
        <p><strong>Educational Attainment:</strong> {{ user_profile.educational_attainment }}</p>
        <p><strong>Occupation:</strong> {{ user_profile.occupation }}</p>

        <h2>Health Identification Number</h2>
        <p><strong>Philhealth Number:</strong> {{ economic_numbers.philhealth_num }}</p>
        <p><strong>NHTS Number:</strong> {{ economic_numbers.nhts_num }}</p>
        <p><strong>4Ps Member:</strong> {{ economic_numbers.patient_4ps_member }}</p>

        <h2>Social History</h2>
        <p><strong>Smoker:</strong> {{ social_history.smoker }}</p>
        <p><strong>Alcohol Intake:</strong> {{ social_history.alcohol_intake }}</p>
        <p><strong>Prohibited Drug:</strong> {{ social_history.prohibited_drug }}</p>
        <p><strong>Cigarette Sticks Per Day:</strong> {{ social_history.cigarette_sticks_per_day }}</p>

        <h2>Medical History</h2>
        <p><strong>Diabetes:</strong> {{ medical_history.diabetes }}</p>
        <p><strong>Asthma:</strong> {{ medical_history.asthma }}</p>
        <p><strong>Hypertension (HPN):</strong> {{ medical_history.hypertension }}</p>
        <p><strong>Pulmonary Tuberculosis (PTB):</strong> {{ medical_history.pulmonary_tubercolosis }}</p>
        <p><strong>Cancer:</strong> {{ medical_history.cancer }}</p>
        <p><strong>Cough:</strong> {{ medical_history.cough_2_weeks }}</p>
        <p><strong>Other Medical History:</strong> {{ medical_history.other_medical_history }}</p>
        <p><strong>Medication Taken:</strong> {{ medical_history.medication_taken }}</p>
        <p><strong>Family Planning:</strong> {{ medical_history.family_planning }}</p>
        <p><strong>Adult Immunization:</strong> {{ medical_history.adult_immunization }}</p>
        <p><strong>Immunization Date:</strong> {{ medical_history.immunization_date }}</p>

         {% if form.status == 'Verified' %}

         <h2>Doctor Orders</h2>
         <p><strong>Chief Complaint:</strong> {{ doctor_order.chief_complaint }}</p>
         <p><strong>Findings:</strong> {{ doctor_order.findings }}</p>
         <p><strong>Impression:</strong> {{ doctor_order.impression }}</p>
         <p><strong>Management:</strong> {{ doctor_order.management }}</p>
         <p><strong>Filled Datetime:</strong> {{ doctor_order.filled_datetime }}</p>

         <h2>Nurse Notes</h2>
         <p><strong>Admission Date:</strong> {{ nurse_notes.admission_date }}</p>
         <p><strong>Admission Time:</strong> {{ nurse_notes.admission_time }}</p>
         <p><strong>Subjective Complaint:</strong> {{ nurse_notes.subjective_complaint }}</p>
         <p><strong>Objective Findings:</strong> {{ nurse_notes.objective_findings }}</p>
         <p><strong>Implementation:</strong> {{ nurse_notes.implementation }}</p>
         <p><strong>Assessment:</strong> {{ nurse_notes.assessment }}</p>
         <p><strong>Plan:</strong> {{ nurse_notes.plan }}</p>
         <p><strong>Filled Datetime:</strong> {{ nurse_notes.filled_datetime }}</p>

        <h2>Vital Signs</h2>
        <p><strong>Weight (kg):</strong> {{ vital_signs.weight_in_kg }}</p>
        <p><strong>Height (cm):</strong> {{ vital_signs.height_in_cm }}</p>
        <p><strong>Nutritional Status:</strong> {{ vital_signs.nutritional_status }}</p>
        <p><strong>BMI:</strong> {{ vital_signs.BMI }}</p>
        <p><strong>Body Temperature:</strong> {{ vital_signs.body_temperature }}</p>
        <p><strong>Pulse Rate:</strong> {{ vital_signs.pulse_rate }}</p>
        <p><strong>Blood Oxygen Levels:</strong> {{ vital_signs.blood_oxygen_levels }}</p>
        <p><strong>Respiratory Rate:</strong> {{ vital_signs.respiratory_rate }}</p>
        <p><strong>Blood Pressure:</strong> {{ vital_signs.blood_pressure }}</p>

        {% endif %}

        {% elif form.record_type == 'Pediatric' %}
        <h2>Pediatric Details</h2>
        <p><strong>Address:</strong> {{ user_profile.address }}</p>
        <p><strong>Sex:</strong> {{ user_profile.sex }}</p>
        <p><strong>Age:</strong> {{ user_profile.age }}</p>
        <p><strong>Mother's Name:</strong> {{ pediatric_details.mother_name }}</p>
        <p><strong>Father's Name:</strong> {{ pediatric_details.father_name }}</p>
        <p><strong>Mother's Age:</strong> {{ pediatric_details.mother_age }}</p>
        <p><strong>Father's Age:</strong> {{ pediatric_details.father_age }}</p>
        <p><strong>Birth Order:</strong> {{ pediatric_details.birth_order }}</p>

        <h2>Health Identification Number</h2>
        <p><strong>Philhealth Number:</strong> {{ economic_numbers.philhealth_num }}</p>
        <p><strong>NHTS Number:</strong> {{ economic_numbers.nhts_num }}</p>
        <p><strong>4Ps Member:</strong> {{ economic_numbers.patient_4ps_member }}</p>
        <p><strong>Brgy Number:</strong> {{ economic_numbers.brgy_num }}</p>
        <p><strong>Family Number:</strong> {{ economic_numbers.family_num }}</p>

        <h2>Immunization History</h2>
        <p><strong>Tetanus Toxoid Mother Status:</strong> {{ immunization_history.tetanus_toxoid_mother_status }}</p>
        <p><strong>BCG:</strong> {{ immunization_history.bcg }}</p>
        <p><strong>HEPA:</strong> {{ immunization_history.hepa }}</p>
        <p><strong>Pental 1:</strong> {{ immunization_history.pental_1 }}</p>
        <p><strong>Pental 2:</strong> {{ immunization_history.pental_2 }}</p>
        <p><strong>Pental 3:</strong> {{ immunization_history.pental_3 }}</p>
        <p><strong>OPV 1:</strong> {{ immunization_history.opv_1 }}</p>
        <p><strong>OPV 2:</strong> {{ immunization_history.opv_2 }}</p>
        <p><strong>OPV 3:</strong> {{ immunization_history.opv_3 }}</p>
        <p><strong>Rota 1:</strong> {{ immunization_history.rota_1 }}</p>
        <p><strong>Rota 2:</strong> {{ immunization_history.rota_2 }}</p>
        <p><strong>Rota 3:</strong> {{ immunization_history.rota_3 }}</p>
        <p><strong>AMV:</strong> {{ immunization_history.amv }}</p>
        <p><strong>MR:</strong> {{ immunization_history.mr }}</p>
        <p><strong>MMR:</strong> {{ immunization_history.mmr }}</p>
        <p><strong>Other Immunization:</strong> {{ immunization_history.other_immunization }}</p>
        <p><strong>Vitamin A:</strong> {{ immunization_history.vitamin_a }}</p>
        <p><strong>Breastfeeding:</strong> {{ immunization_history.breastfeeding }}</p>
        <p><strong>Deworming:</strong> {{ immunization_history.deworming }}</p>
        <p><strong>Deworm Date:</strong> {{ immunization_history.deworm_date }}</p>

        <h2>Social History</h2>
        <p><strong>Smoker:</strong> {{ social_history.smoker }}</p>
        <p><strong>Alcohol Intake:</strong> {{ social_history.alcohol_intake }}</p>
        <p><strong>Prohibited Drug:</strong> {{ social_history.prohibited_drug }}</p>
        <p><strong>Cigarette Sticks Per Day:</strong> {{ social_history.cigarette_sticks_per_day }}</p>

        <h2>Medical History</h2>
        <p><strong>Diabetes:</strong> {{ medical_history.diabetes }}</p>
        <p><strong>Asthma:</strong> {{ medical_history.asthma }}</p>
        <p><strong>Hypertension (HPN):</strong> {{ medical_history.hypertension }}</p>
        <p><strong>Pulmonary Tuberculosis (PTB):</strong> {{ medical_history.pulmonary_tubercolosis }}</p>
        <p><strong>Cancer:</strong> {{ medical_history.cancer }}</p>
        <p><strong>Cough:</strong> {{ medical_history.cough_2_weeks }}</p>
        <p><strong>Other Medical History:</strong> {{ medical_history.other_medical_history }}</p>
        <p><strong>Medication Taken:</strong> {{ medical_history.medication_taken }}</p>
        <p><strong>Family Planning:</strong> {{ medical_history.family_planning }}</p>
        <p><strong>Adult Immunization:</strong> {{ medical_history.immunization }}</p>
        <p><strong>Immunization Date:</strong> {{ medical_history.immunization_date }}</p>

        {% if form.status == 'Verified' %}

        <h2>Doctor Orders</h2>
        <p><strong>Chief Complaint:</strong> {{ doctor_order.chief_complaint }}</p>
        <p><strong>Findings:</strong> {{ doctor_order.findings }}</p>
        <p><strong>Impression:</strong> {{ doctor_order.impression }}</p>
        <p><strong>Management:</strong> {{ doctor_order.management }}</p>
        <p><strong>Filled Datetime:</strong> {{ doctor_order.filled_datetime }}</p>

        <h2>Nurse Notes</h2>
        <p><strong>Admission Date:</strong> {{ nurse_notes.admission_date }}</p>
        <p><strong>Admission Time:</strong> {{ nurse_notes.admission_time }}</p>
        <p><strong>Subjective Complaint:</strong> {{ nurse_notes.subjective_complaint }}</p>
        <p><strong>Objective Findings:</strong> {{ nurse_notes.objective_findings }}</p>
        <p><strong>Implementation:</strong> {{ nurse_notes.implementation }}</p>
        <p><strong>Assessment:</strong> {{ nurse_notes.assessment }}</p>
        <p><strong>Plan:</strong> {{ nurse_notes.plan }}</p>
        <p><strong>Filled Datetime:</strong> {{ nurse_notes.filled_datetime }}</p>

       <h2>Vital Signs</h2>
       <p><strong>Weight (kg):</strong> {{ vital_signs.weight_in_kg }}</p>
       <p><strong>Height (cm):</strong> {{ vital_signs.height_in_cm }}</p>
       <p><strong>Nutritional Status:</strong> {{ vital_signs.nutritional_status }}</p>
       <p><strong>BMI:</strong> {{ vital_signs.BMI }}</p>
       <p><strong>Body Temperature:</strong> {{ vital_signs.body_temperature }}</p>
       <p><strong>Pulse Rate:</strong> {{ vital_signs.pulse_rate }}</p>
       <p><strong>Blood Oxygen Levels:</strong> {{ vital_signs.blood_oxygen_levels }}</p>
       <p><strong>Respiratory Rate:</strong> {{ vital_signs.respiratory_rate }}</p>
       <p><strong>Blood Pressure:</strong> {{ vital_signs.blood_pressure }}</p>

       {% endif %}

        {% elif form.record_type == 'Child' %}
        <h2>Child Details</h2>
        <p><strong>Address:</strong> {{ user_profile.address }}</p>
        <p><strong>Sex:</strong> {{ user_profile.sex }}</p>
        <p><strong>Age:</strong> {{ user_profile.age }}</p>
        <p><strong>Place of Birth:</strong> {{ child_details.place_of_birth }}</p>
        <p><strong>Birth Weight:</strong> {{ child_details.birth_weight }}</p>
        <p><strong>Birth Order:</strong> {{ child_details.birth_order }}</p>
        <p><strong>Mother's Name:</strong> {{ child_details.mother_name }}</p>
        <p><strong>Birth Length:</strong> {{ child_details.birth_length_in_inches }}</p>
        <p><strong>Birth Time:</strong> {{ child_details.birth_time }}</p>
        <p><strong>Delivery Type:</strong> {{ child_details.delivery_type }}</p>
        <p><strong>Breastfeeding:</strong> {{ child_details.breastfeeding_type }}</p>

        <h2>Newborn Status</h2>
        <p><strong>NS Place:</strong> {{ newborn_status.ns_place }}</p>
        <p><strong>NS Date:</strong> {{ newborn_status.ns_date }}</p>
        <p><strong>BCG Date:</strong> {{ newborn_status.bcg_date }}</p>
        <p><strong>BCG Place:</strong> {{ newborn_status.bcg_place }}</p>
        <p><strong>DPT OPV Date:</strong> {{ newborn_status.dpt_opv_date }}</p>
        <p><strong>DPT OPV Place:</strong> {{ newborn_status.dpt_opv_place }}</p>
        <p><strong>PCV Date:</strong> {{ newborn_status.pcv_date }}</p>
        <p><strong>PCV Place:</strong> {{ newborn_status.pcv_place }}</p>
        <p><strong>IPV Date:</strong> {{ newborn_status.ipv_date }}</p>
        <p><strong>IPV Place:</strong> {{ newborn_status.ipv_place }}</p>
        <p><strong>HEPA Date:</strong> {{ newborn_status.hepa_date }}</p>
        <p><strong>HEPA Place:</strong> {{ newborn_status.hepa_place }}</p>

        <h2>Economic Numbers</h2>
        <p><strong>Philhealth Number:</strong> {{ economic_numbers.philhealth_num }}</p>
        <p><strong>NHTS Number:</strong> {{ economic_numbers.nhts_num }}</p>
        <p><strong>4Ps Member:</strong> {{ economic_numbers.patient_4ps_member }}</p>
        <p><strong>Brgy Number:</strong> {{ economic_numbers.brgy_num }}</p>
        <p><strong>Family Number:</strong> {{ economic_numbers.family_num }}</p>

        {% if form.status == 'Verified' %}

        <h2>Doctor Orders</h2>
        <p><strong>Chief Complaint:</strong> {{ doctor_order.chief_complaint }}</p>
        <p><strong>Findings:</strong> {{ doctor_order.findings }}</p>
        <p><strong>Impression:</strong> {{ doctor_order.impression }}</p>
        <p><strong>Management:</strong> {{ doctor_order.management }}</p>
        <p><strong>Filled Datetime:</strong> {{ doctor_order.filled_datetime }}</p>

        <h2>Nurse Notes</h2>
        <p><strong>Admission Date:</strong> {{ nurse_notes.admission_date }}</p>
        <p><strong>Admission Time:</strong> {{ nurse_notes.admission_time }}</p>
        <p><strong>Subjective Complaint:</strong> {{ nurse_notes.subjective_complaint }}</p>
        <p><strong>Objective Findings:</strong> {{ nurse_notes.objective_findings }}</p>
        <p><strong>Implementation:</strong> {{ nurse_notes.implementation }}</p>
        <p><strong>Assessment:</strong> {{ nurse_notes.assessment }}</p>
        <p><strong>Plan:</strong> {{ nurse_notes.plan }}</p>
        <p><strong>Filled Datetime:</strong> {{ nurse_notes.filled_datetime }}</p>

       <h2>Vital Signs</h2>
       <p><strong>Weight (kg):</strong> {{ vital_signs.weight_in_kg }}</p>
       <p><strong>Height (cm):</strong> {{ vital_signs.height_in_cm }}</p>
       <p><strong>Body Temperature:</strong> {{ vital_signs.body_temperature }}</p>

       {% endif %}

    {% endif %}
{% endblock %}
