{% if not main_included %}
    {% include 'sections.html' %}
{% endif %}

{% include 'main.html' %}


{% block content %}

{%load static%}

<link rel="stylesheet" type="text/css" href="{% static 'styles/patient/reset_password.css' %}">


<form method="post">

<div class="form-container">
  <h2 class="form-title"> Request Reset Password</h2>

  {% csrf_token %}

    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">

        <br>

        <label for="middle_name">Middle Name:</label>
        <input type="text" id="middle_name" name="middle_name">

        <br>

        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password">

        <br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password">
        <input type="hidden" name="user_id" value="{{ user_id }}">
    </div>

  <div class="button">
    <p>The request for reset password will be submitted to the system administrator for approval.</p>
    <p>After submission, ask system administrator if request for reset password was <span>approved.</span></p>
    <button type="submit" class="btn">Submit Request</button>
  </div>


</div>

</form>




{% endblock %}