{% extends 'main.html' %} 

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/home.css' %}">


<div class="main-container">
  
  <div class="announcement-container">
      <h2 class="announcement-title">ANNOUNCEMENTS</h2>
      {% if last_announcement %}
      <div>
          <div class="ann-date">
            <span>Date Posted:</span> 
            {{ last_announcement.date }}
          </div>
          
          <div>
              <img src="{{ last_announcement.photo.url }}" class="announcement-photo" alt="No Announcement Available">
          </div>
      </div>
      {% else %}
      <p>No announcements available.</p>
      {% endif %}
  </div>

  <div class="env-container">

      <h3 class="env-title">PALTOC HC MONITORING</h3>

      <div class="view-charts">
        <a href=""></i>View Charts<i class="fa-solid fa-arrow-right-long"></i></a>
      </div>

      <div class="sensor-container">
          <div class="card temp">
              <div class="card-body">
                  <div class="card-row">
                      <div class="card-content">
                          <div class="label">Temperature</div>
                          <div class="sensor-reading">27<span> °C</span></div>
                      </div>
                      <div class="card-icon temp">
                          <i class="fa-solid fa-thermometer-three-quarters"></i>
                      </div>
                  </div>
              </div>
          </div>

          
          <div class="card humidity">
              <div class="card-body">
                  <div class="card-row">
                      <div class="card-content">
                          <div class="label">Humidity</div>
                          <div class="sensor-reading">23<span> %</span></div> 
                      </div>
                      <div class="card-icon humidity">
                        <i class="fa-solid fa-droplet"></i>
                      </div>
                  </div>
              </div>
          </div>

          <div class="card co2">
              <div class="card-body">
                  <div class="card-row">
                      <div class="card-content">
                          <div class="label">Air Gases</div>
                          <div class="sensor-reading">800 <span>ppm</span></div>
                      </div>
                      <div class="card-icon co2">
                          <i class="fa-solid fa-wind"></i>
                      </div>
                  </div>
              </div>
          </div>

          <div class="card pm1">
              <div class="card-body">
                  <div class="card-row">
                      <div class="card-content">
                          <div class="label">PM1</div>
                          <div class="sensor-reading">10<span>µg/m³</span></div>
                      </div>
                      <div class="card-icon pm1">
                        <i class="fa-solid fa-virus"></i>
                      </div>
                  </div>
              </div>
          </div>

          <div class="card pm25">
              <div class="card-body">
                  <div class="card-row">
                      <div class="card-content">
                          <div class="label">PM2.5 </div>
                          <div class="sensor-reading">15<span>µg/m³ </span></div> 
                      </div>
                      <div class="card-icon pm25">
                        <i class="fa-brands solid fa-cloudversify"></i>
                      </div>
                  </div>
              </div>
          </div>

          <div class="card pm10">
              <div class="card-body">
                  <div class="card-row">
                      <div class="card-content">
                          <div class="label">PM10</div>
                          <div class="sensor-reading">20<span>µg/m³</span></div>
                      </div>
                      <div class="card-icon pm10">
                          <i class="fa-solid fa-smog"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock content %}
