{% extends 'main.html' %} 
{% block title %} Paltoc Healthcare Center {% endblock title %} 

{% block content %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
  }
  .sensor-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .announcement-photo {
    max-width: 100%;
    height: auto;
  }
</style>
<div class="grid-container">
  <div>
    <h2>Announcements</h2>
    {% if last_announcement %}
    <div>
      {{ last_announcement.date }}
      <div>
        <img src="{{ last_announcement.photo.url }}" class="announcement-photo" alt="Announcement Photo">
      </div>
    </div>
    {% else %}
    <p>No announcements available.</p>
    {% endif %}
  </div>

  <div>
    <h3>Paltoc HC Monitoring</h3>
    <div class="sensor-container">
      <div>
        <p>Temperature</p>
      </div>
      <div>
        <p>Humidity</p>
      </div>
      <div>
        <p>CO2 Levels</p>
      </div>
      <div>
        <p>PM1</p>
      </div>
      <div>
        <p>PM2.5</p>
      </div>
      <div>
        <p>PM10</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
