{% extends 'main.html' %} 

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">

<body>
  <img class="wave" src="{% static 'images/wave.png' %}">
	<div class="container">
    <div class="img">
			<img src="{% static 'images/bg2.svg' %}">
		</div>
		<div class="login-content">

  <form action="" method="POST">

    <img src="{% static 'images/user.png' %}">
    <h2 class="title">Login</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
    {% csrf_token %}

  <div class="div">
      <h5>Username/Email/Phone Number </h5>
    <label for="username"></label>
    <input type="username" name="username" class="input" />
  </div>
</div>

<div class="input-div pass">
  <div class="i"> 
     <i class="fas fa-lock"></i>
  </div> 

  <div class="div">
    <h5>Password</h5>
    <label for="password"></label>
    <input
    id="password"
    name="password"
    type="password"
    class="input"
  />
</div>
</div>


<a href="{% url 'reset_password' %}">Forgot Password?</a>
<input type="submit" class="btn" value="Login">
</form>


</div>
</div>

<script type="text/javascript" src="{% static 'js/login.js' %}"></script>

</body>


{% endblock content %}
