{% extends 'main.html' %}
{% block content %}

{% load static %}


<link rel="stylesheet" href="{% static 'styles/user_register.css' %}">
<script type="text/javascript" src="{% static 'js/register.js' %}"></script> 

<body>
<div class="container">
    <div class="title">User Registration Form</div>
    <form id="registrationForm" action="" method="POST">
        <div class="user-details">
            {% csrf_token %}
            {% for field in form %}
            <div class="input-box">
                <label for="{{field.label}}">{{field.label}}</label>
                {% if field.name == 'username' %}
                <input type="text" id="username" name="{{field.name}}" value="{{field.value|default_if_none:''}}" placeholder="Your Username will be autofilled" readonly>
                {% else %}
                {{field}}
                {% endif %}
            </div>
            {% endfor %}
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </div>
    </form>
</div>

</body>
{% endblock content %}
