{% load custom_filters %}

<div class="info-container">
    <h2 class="form-title">Adult Details</h2>
    <p><strong>Birth Date:</strong> {{ user_profile.user.birth_date }}</p>
    <p><strong>Age:</strong> {{ user_profile.age }}</p>
    <p><strong>Sex:</strong> {{ user_profile.sex }}</p>
    <p><strong>Civil Status:</strong> {{ user_profile.civil_status }}</p>
    <p><strong>Religion:</strong> {{ user_profile.religion }}</p>
    <p><strong>Address:</strong> {{ user_profile.address }}</p>
    <p><strong>Educational Attainment:</strong> {{ user_profile.educational_attainment }}</p>
    <p><strong>Occupation:</strong> {{ user_profile.occupation }}</p>
</div>

<div class="info-container">
    <h2 class="form-title">Medical History</h2>
    <p><strong>Diabetes:</strong> {{ medical_history.diabetes|yes_no }}</p>
    <p><strong>Asthma:</strong> {{ medical_history.asthma|yes_no }}</p>
    <p><strong>Hypertension (HPN):</strong> {{ medical_history.hypertension|yes_no }}</p>
    <p><strong>Pulmonary Tuberculosis (PTB):</strong> {{ medical_history.pulmonary_tubercolosis|yes_no }}</p>
    <p><strong>Cancer:</strong> {{ medical_history.cancer|yes_no }}</p>
    <p><strong>Cough:</strong> {{ medical_history.cough_2_weeks|yes_no }}</p>
    <p><strong>Other Medical History:</strong> {{ medical_history.other_medical_history }}</p>
    <p><strong>Medication Taken:</strong> {{ medical_history.medication_taken }}</p>
    <p><strong>Family Planning:</strong> {{ medical_history.family_planning|yes_no }}</p>
    <p><strong>Adult Immunization:</strong> {{ medical_history.adult_immunization|yes_no }}</p>
    <p><strong>Immunization Date:</strong> {{ medical_history.immunization_date }}</p>
</div>

<div class="info-container">
    <h2 class="form-title">Health Identification Number</h2>
    <p><strong>Philhealth Number:</strong> {{ economic_numbers.philhealth_num }}</p>
    <p><strong>NHTS Number:</strong> {{ economic_numbers.nhts_num }}</p>
    <p><strong>4Ps Member:</strong> {{ economic_numbers.patient_4ps_member|yes_no }}</p>
</div>

<div class="info-container">
    <h2 class="form-title">Social History</h2>
    <p><strong>Smoker:</strong> {{ social_history.smoker|yes_no }}</p>
    <p><strong>Alcohol Intake:</strong> {{ social_history.alcohol_intake|yes_no }}</p>
    <p><strong>Prohibited Drug:</strong> {{ social_history.prohibited_drug|yes_no }}</p>
    <p><strong>Cigarette Sticks Per Day:</strong> {{ social_history.cigarette_sticks_per_day }}</p>
</div>